/target
/src-tauri/target

node_modules/
.nuxt/
.output/
.data/
dist/

package-lock.json
yarn.lock

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

docs/*
CLAUDE.MD